[Desktop Entry]
Comment=Gru Dark Theme!
Name=Gru
X-KDE-PluginInfo-Author=prayagjain
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=prayagjain2@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Gru
X-KDE-PluginInfo-Version=v1
X-KDE-PluginInfo-Website=https://github.com/prayag2/kde_gru
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1690362,kns://plasma-themes.knsrc/api.kde-look.org/1462611,kns://icons.knsrc/api.kde-look.org/1651940,kns://wallpaper.knsrc/api.kde-look.org/1571655s
